.sign-up {
  display: flex;
  flex-direction: column;
  width: 30vw;

  .title {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .sign-up {
    width: 90%;
    margin: 50px 0;
  }   
}
