.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 5rem;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(20px);
  z-index: 50;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 10px;

    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

}

@media screen and (max-width: 600px) {
  .header {
    width: 100vw;
    padding: 0;
    
    .options {
      width: 100%;
    }
  }
}
