.custom-button {
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &.google-sign-in {
    background-color: #3ddc84;
    color: white;

    &:hover {
      background-color: darken($color: #3ddc84, $amount: 10);
      border: none;
    }
  }
  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .custom-button {
    padding: 0 20px 0 20px;
  }   
}