.contact-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 2px 4px 12px rgba(0 0 0 / 15%);
    transition: all 0.5s ease-in-out;

    .name {
      margin-bottom: 1rem;
    }
    .profile-image {
      width: 350px;
      border-radius: 10px;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(102%);
      box-shadow: 2px 4px 12px rgba(0 0 0 / 30%);
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: 95%;
  
    a {
      .name {
        font-size: 18px;
      }
      .profile-image {
        width: 300px;
      }
    }
  }
}
